.TitleDrop {
    padding-top: 3rem;
    z-index:100;
}
div.circle-holder-home-2 {
    overflow:hidden;
    height:100%;
}
div.circle-holder-home {
    overflow-y:hidden;
    overflow-x:hidden;
    height:100%;
}
div.circle-span {
    background-color:var(--sext);
    color:white;
    margin:0;
    width:70rem;
    height:70rem;
    border-radius:100%;
    transform: translate(100%, 25%);
    z-index: -1000;
    animation: growFromNothing 4s infinite alternate;
    overflow:hidden;
}
  div.circle-span-2 {
    background-color:var(--sext);
    color:white;
    margin:0;
    width:70rem;
    height:70rem;
    border-radius:100%;
    transform: translate(-30%, -25vw);
    z-index: -1000;
    animation: growFromNothing 4s infinite alternate;
}
.HomeContent {
    height:100%;
}
.TitleDrop {
    max-height: 16 rem;
    max-width: 70%;
}
.custom-lead {
    font-family:'Lexend', sans-serif;
    font-weight: bold;
    color:white;
    font-size: clamp(10px, 2vw, 30px);
    text-align:left;
    margin-top:1rem;
    padding:3rem;
}
.hr-custom {
    border: 0.1rem solid white;
    opacity: 1;
  }
  @keyframes growFromNothing {
    from {
      background-color:#0D3B66;
    }
    to {
      background-color:#008b8b;
    }
  }